@charset 'utf-8';

.container{
    background-color: lightgrey;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;    
}

.item{
    background-color: red;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    /*flex-basis => configura o tamanho do itens dentro da caixa flexivel, se não tiver espacço na tela para manter o tamanho do iten, então ele diminui como um caixa flexivel normal.*/
    flex-basis: 200px;
}