@charset 'utf-8';

.container{
    background-color: lightgrey;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;    
}

.item{
    background-color: red;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    
    flex-basis: 200px;
}