@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
header{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1{
    height: 8vh;
    color: blue;
    padding-top: 8px;
}
ul{
    display: flex;   
}
li{
    list-style-type: none;
}
li > a{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}
li > a:hover{
    background-color: blue;
    color: aquamarine;
    transition: .3s;
}

main{
    background-color: aliceblue;
    width: 50vw;    
    margin: auto;
    margin-top: 5%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
}
main > h2{
    text-indent: 10px;
}
main > p{
    padding: 10px;
    text-indent: 10px;
}

@media screen and (max-width: 668px) {
    header{       
        flex-flow: column;
    }
    ul{
        
        flex-flow: column wrap;
    }
}