body{
    background-image:linear-gradient(90deg, #F0ED46, #FAAE34, #C32AFA, #E05040, #4060F0);
    color:black;
    font-size: 16pt;
    font-family: Arial;
}
h1{
    background-color: rgba(237, 195, 59, 0.6);
    color: brown;
    text-decoration: underline;
}
h2{
    color: red;
}
p{
    color: brown;
    text-decoration: none;
}
