@charset 'utf-8';

.container{
    background-color: black;
    height: 400px;    

    display: flex;
    flex-flow: row wrap;
    /*align-content => alinha os itens no sentindo do eixo transversal quando eles estão empacotados Ex. itens dentro de um container que sofreu uma quebra de linha.*/
    align-content: space-between;
    justify-content: space-between;

    
}

.item{
    background-color: rgb(255, 81, 0);
    border: 1px solid black;
    text-align: center;
    width: 80PX;
    height: 80PX;
    padding: 10px; 
}