@charset 'utf-8';

*{
    margin: 0px;
    padding: 0px;
}
header{
    min-height: 30vh;
    background-color:black;
    color:white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    padding-bottom: 15px;
}
header p{
    padding-top: 15px;
    padding-bottom: 50px;
}
header p a{
    text-decoration: none;
    color: white;
}
header p a:hover{
    text-decoration: underline;
}
body section p{
    font-size: 1.8em;
    line-height: 2em;
    margin-left: 5vh;
}
.normal{
    width: 100vw;
    min-height: 100vh;
    box-shadow: 5px 5px 5px 5px black;
}


.imagem p{
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    color: white;
        
}
.imagem{    
    width: 100vw;
    height: 80vh;
    background-color: darkgray;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
    
       
}
#img1{
    background: url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
    
}


#img2{
    background: url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}